/*Art: Monkey City*/
/*Art/art2.jpg*/
body{
    background:#1f1212;

    background: #1f1212 url("../backgrounds/Art/art2.jpg") no-repeat;
    
    background-position: center;
    background-size: cover;
    
}

.incoming{
    color: #ddd;    
    border: 1px solid orange;
    
    background: #643;

    opacity: 0.9;
}

.outgoing{
    color: #fff;
    border: 1px solid black;

    background: #444;
    
    opacity: 0.9;
}

.sender{
    color: #fff;
    opacity: 0.8;
}

.msg{
}

.time{
    color: #fff;
    opacity: 0.8;
}

.date{
    color: #f33;
}
