/*Nature: Calm Clear Water*/
/*Nature/calm-water.jpg*/
body{
    background:#1f1212;

    background: #1f1212 url("../backgrounds/Nature/calm-water.jpg") no-repeat;
    
    background-position: center;
    background-size: cover;
    
}

.incoming{
    color: #6fb98f;    
    /*border: 1px solid orange;*/
    
    background: #110;
    
    opacity: 0.8;
    border: 0px;
}

.outgoing{
    color: #6fb98f;
    /*border: 1px solid red;*/

    background: #001;
    
    opacity: 0.8;
    border: 0px;
}

.sender{
    color: #0f0;
    opacity: 0.6;
}

.msg{
}

.time{
    color: #0f0;
    opacity: 0.6;
}

.date{
    color: #ad8;
    
    background: #021c1e;
    
    border-radius: 5px;
}