/*Space: Dark Galaxy*/
/*Space/dark-galaxy.jpg*/
body{
    background:#1f1212;

    background: #1f1212 url("../backgrounds/Space/dark-galaxy.jpg") no-repeat;
    
    background-position: center;
    background-size: cover;
    
}

.incoming{
    color: #f1f3ce;    
    border: 1px solid orange;
}

.outgoing{
    color: #f1f3ce;
    border: 1px solid green;
}

.sender{
    color: #e4ea8c;
    opacity: 0.5;
}

.msg{
}

.time{
    color: #e4ea8c;
    opacity: 0.5;
}


.date{
    color: #ad8;
}